<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
    {% for obj in prod_obj %}
    <form action="" method="post">
        {% csrf_token %}

        {{obj.name}} <br>

        ${{obj.price}} <br>
        <input type="submit" value="Add">
        <hr>
    </form>
    {% endfor %}
</body>
</html>